<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
        
    </div>
<ol>

    <li>Copa Libertadores Final (2019):
Gabigol's defining moment came in the 2019 Copa Libertadores final against River Plate. In a dramatic turnaround, he scored two late goals in the final minutes of the match, securing a 2-1 victory for Flamengo and their first Copa Libertadores title in nearly four decades. His last-minute heroics instantly turned him into a legend among Flamengo fans.</li>

<li>Campeonato Brasileiro Performance (2019):
Throughout the 2019 Campeonato Brasileiro Série A season, Gabigol's goal-scoring prowess played a pivotal role in helping Flamengo clinch the league title after a decade-long drought. His consistency in finding the back of the net showcased his importance to the team's success.</li>

<li>Campeonato Carioca Final (2020):
In the Campeonato Carioca final against Fluminense, Gabigol showcased his penchant for stepping up in crucial moments. He scored both goals in a 2-1 victory for Flamengo, securing yet another state championship and displaying his ability to shine in high-pressure situations.</li>

<li>Record-breaking Goal Against Santos (2021):
In February 2021, Gabigol scored his 74th goal for Flamengo in a match against his former club Santos. This goal allowed him to surpass Zico's record as the all-time leading goal scorer in the history of the Maracanã Stadium, a historic achievement that solidified his place in Flamengo's lore.</li>

<li>Supercopa do Brasil (2020):
In the 2020 Supercopa do Brasil final against Athletico Paranaense, Gabigol once again demonstrated his knack for decisive moments. He scored both goals in a 3-0 victory, clinching the Supercopa title for Flamengo and showcasing his ability to perform on the big stage.</li>
</ol>    
    
</body>
</html>